do_token="https://docs.digitalocean.com/reference/api/create-personal-access-token/"

k8s_name="terraform-do-cluster"
k8s_region="nyc3"
k8s_version="1.20.2-do.0"
k8s_tags=[]

default_node_pool_name="default-pool"
default_node_pool_size="s-1vcpu-2gb" # minimum size, list available options with `doctl compute size list`

default_node_pool_auto_scale=false
default_node_pool_count=3

default_node_pool_tags = ["node-pool-tag"]
default_node_pool_labels = {}
